<div class="dream-log-container">
<h1>Hello, I am Onirix aka the Dream Oracle
</h1>

<p>
  Through a series of questions, tell Onirix about yourself and your dream (those you remember, at least!). It will help get a clearer understanding of your subconscious mind and help you unlock the secrets of our dream !

  Please do not rush while answering the questions.
</p>

<%= simple_form_for @dreamlog, data: {turbo: false} do |f| %>
      <%= f.submit "Let's begin", class: "btn secondary-cta-sign my-4" %>
  <% end %>

<div>
  <p>
    We guarantee to keep your information private. As you continue, you will accept the privacy policy, policy and the terms of conditions of Onirix.
  </p>
</div>
</div>
