
<section class="gradient-custom">
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="text-center mb-4 pb-2">
          <i class="fas fa-quote-left fa-3x text-white"></i>
        </div>
        <div class="card">
          <div class="card-body px-4 py-5 rounded">
            <!-- Carousel wrapper -->
            <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 col-xl-8">
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-center">
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                            class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                            height="150" />
                        </div>
                        <div
                          class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start text-black mx-auto mx-lg-0">
                          <h4 class="mb-4">Sam Rotherfield - 22 years old</h4>
                          <p class="mb-0 pb-3">
                            With Onirix, I was able to turn my dreams into a tool for self-discovery and personal growth.
                            The AI's analysis and predictions helped me better understand my own thought patterns and identify areas where I needed to focus my attention.
                            Thanks to Onirix, I feel more in control of my emotions in my relatinship than ever before.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Single item -->
                <div class="carousel-item">
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 col-xl-8">
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-center">
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                            class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                            height="150" />
                        </div>
                        <div
                          class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start text-black mx-auto mx-lg-0">
                          <h4 class="mb-4">Melina Golligath - 35 years old</h4>
                          <p class="mb-0 pb-3">
                            I've always been a bit skeptical of AI and machine learning, but Onirix blew me away.
                            The predictions it generated based on my dreams were spot-on, and they gave me a whole new perspective on my life and my future.
                            I especially appreciated the personalized guidance and advice that Onirix provided. It wasn't just a generic report
                            - it felt like the AI really understood me and my unique situation.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Single item -->
                <div class="carousel-item">
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 col-xl-8">
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-center">
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
                            class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                            height="150" />
                        </div>
                        <div
                          class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start text-black mx-auto mx-lg-0">
                          <h4 class="mb-4">Max Doodligan - 30 years old</h4>
                          <p class="mb-0 pb-3">
                            Overall, I would highly recommend Onirix to anyone who is struggling with their relationships or any other personal issues.
                            The AI's ability to decode and analyze dreams is truly remarkable, and it can provide invaluable insights into our own minds and emotions.
                            Thanks to Onirix, I feel like I have a better understanding of myself and my relationships, and I'm better equipped to navigate the ups and downs of life.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Carousel wrapper -->
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>

        <div class="text-center mt-4 pt-2">
          <i class="fas fa-quote-right fa-3x text-white"></i>
        </div>
      </div>
    </div>
  </div>
</section>
