<main class="home">
        <section class="hero-left">
            <div class="hero-left-content">
                <div class="content-left">
                    <h1 class="">Discover the power of your subconscious mind with Onirix!</h1>
                    <p>Inspiring the Creative Soul: Muse Coffee Shop and Beyond.</p>
                    <div class="d-grid gap-2 d-md-block">
                        <a href="#" class="btn main-cta-w">Get Started</a>
                        <a href="#about" class="btn secondary-cta ms-3">About</a>
                    </div>
                </div>
                <img src="https://images.unsplash.com/photo-1600093463592-8e36ae95ef56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80"
                    alt="Beautiful photo of a coffee shop with a lot of plants">
            </div>
        </section>

        <section class="about-oni" id="about">
            <div class="about-oni-content">
                <h2 class="secondary-header-style-wh3">What is Onirix ?</h2>
                <div class="about-oni-content-inside">
                    <article class="about-oni-text">
                        <h3>Onirix : the AI Dream Oracle</h3>
                        <p>Onirix, is an advanced AI technology that can analyze and decode your dreams to predict your future.</p>
                        <br>
                        <p>Using cutting-edge machine learning techniques, Onirix can decipher the complex language of dreams, helping users gain a deeper understanding of their own thoughts, emotions, and experiences. Whether you're seeking guidance on your career path, your love life, or your health, Onirix has the potential to revolutionize the way you understand and interpret your dreams.</p>
                        <br>
                        <a href="#" class="btn main-cta-color-onW">Try now</a>
                    </article>

                    <article class="about-oni-text-2">
                        <div class="about-oni-text-2-content">
                            <h3 class="secondary-header-style-wh3">The International Institute of Dreams </h3>
                            <p>We at the International Institute of Dreams are proud to be a world-renowned organization dedicated to studying and understanding the complex nature of human dreams. Using sophisticated algorithms and machine learning techniques, Onirix is able to identify patterns and correlations in dream content, helping users gain a deeper understanding of their own thoughts, emotions, and experiences.</p>
                            <br>
                            <p>As a leader in dream studies, we are committed to pushing the boundaries of science and technology, helping us unlock the secrets of our subconscious mind and achieve a better understanding of ourselves and the world around us.</p>
                            <a href="/contact/new" class="btn secondary-cta">Get in touch</a>
                        </div>
                        <%= image_tag "logo-iid.svg" %>
                    </article>

                </div>
            </div>
        </section>

        <section class="services">
            <div class="services">
                <h2>How it works ?</h2>
                <div class="container steps-card-container">
                    <article class="steps-card">
                        <i class="fa-sharp fa-solid fa-thought-bubble" style="color: #6184d8;"></i>
                        <h3>Submit your dream</h3>
                        <p>Answer quick questions for Onirix to know you better and understand your dream.</p>
                    </article>

                    <article class="steps-card">
                        <h3>Receive analysis</h3>
                        <p>Onirix provides a detailed analysis of the dream, including hidden meanings and symbolism.</p>
                    </article>

                    <article class="steps-card">
                        <h3>Take control of your future</h3>
                        <p>Armed with the knowledge gained from Onirix's analysis, you can take proactive steps to shape your future.</p>
                    </article>
                </div>
            </div>
        </section>

        <section class="dream" id="Dream">
            <div class="dream-content">
                <h2 class="secondary-header-style-wh3">What is a dream ?</h2>
                <div class="dream-content-inside">
                    <article class="dream-text">
                        <h3>Let's talk about dreams !</h3>
                        <p>Dreams and nightmares are both experiences that occur during sleep, but they differ in their emotional content.</p>
                        <br>
                        <p>Dreams are generally pleasant or neutral, while nightmares are distressing and can cause feelings of fear, anxiety, or sadness. Recurrent nightmares can be a sign of psychological distress and should be taken seriously.</p>
                        <br>
                        <p>If you or someone you know experiences recurrent nightmares, it is important to seek professional psychological help to address any underlying issues and prevent further emotional harm.</p>
                        <a href="https://www.betterhelp.com/about/" class="btn main-cta-color-onW" target="_blank">Find Help</a>
                    </article>

                    <article class="dream-text-2">
                        <h3 class="secondary-header-style-wh3">Onirix hypnosis podcast </h3>
                        <p>Introducing our new hypnosis podcast, designed to help you fall asleep and get the restful sleep you deserve. Let our soothing guided meditations and relaxing background music lull you into a peaceful slumber.</p>
                        <br>
                        <p>Try it out now and wake up feeling refreshed and rejuvenated.</p>
                        <div class="podcast">
                            <iframe width="100%" height="120" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1508224633&color=%237600ff&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true">
                            </iframe>
                            <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                                <a href="https://soundcloud.com/onirix" title="Onirix" target="_blank" style="color: #cccccc; text-decoration: none;">Onirix</a> ·
                                <a href="https://soundcloud.com/onirix/dream-hypnosis" title="Dream hypnosis" target="_blank" style="color: #cccccc; text-decoration: none;">Dream hypnosis</a>
                            </div>
                        </div>
                    </article>

                </div>
            </div>
        </section>

        <section class="personas">
            <div class="oni-who">
                <h2>Who is it for ?</h2>
                <div class="oni-who-card-container">
                    <article class="oni-who-card">
                        <i class="fa-sharp fa-solid fa-thought-bubble" style="color: #6184d8;"></i>
                        <h3>Explorer</h3>
                        <p>You are intrigued by the world of dreams and wants to delve deeper into your subconscious mind. Use Onirix to gain insights into your dreams and explore their hidden meanings, allowing you to better understand yoursel and your innermost desires.</p>
                    </article>

                    <article class="oni-who-card">
                        <i class="fa-sharp fa-solid fa-thought-bubble" style="color: #6184d8;"></i>
                        <h3>Go-Getter</h3>
                        <p>You are driven to achieve your goals and wants to gain a competitive edge in your personal or professional life. Use Onirix to gain insights into your subconscious mind and potential future outcomes, allowing you to make more informed decisions and take proactive steps to shape your future.</p>
                    </article>

                    <article class="oni-who-card">
                        <i class="fa-sharp fa-solid fa-thought-bubble" style="color: #6184d8;"></i>
                        <h3>Creative Thinker</h3>
                        <p>You have an artist or creative mindset and you are seeking inspiration for your work. Use Onirix to gain insights into your dreams and tap into your subconscious creativity, allowing you to unlock new ideas and express yourself in innovative ways.</p>
                    </article>
                </div>
            </div>
        </section>


        <%= render "shared/reviews" %>

        <section class="cta-container">
            <div class="cta-text-content">
                <h3>Dream big, dream clear !</h3>
                <p>Let Onirix be your guide as you explore the depths of your subconscious and unlock the full potential of your dreams.</p>
            </div>
            <a href="#" class="btn main-cta-color-BonW">Start Now</a>
        </section>

        <section class="faq">
            <h2 class="faq-title">FAQ</h2>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        What is the International Institute of Dreams?
                    </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">The International Institute of Dreams is a renowned organization specializing in dream studies and research. We are dedicated to understanding the science and meaning behind dreams.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        How can the International Institute of Dreams help me understand my dreams?
                    </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Our team of expert scientists and researchers have developed Onirix, an advanced AI that can analyze and decode users' dreams to predict their future. With Onirix, you can gain insights into the hidden meanings behind your dreams.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Can I trust the dream predictions made by Onirix?
                    </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Yes, you can trust Onirix's dream predictions. Our AI is built on years of research and is constantly updated with the latest findings in dream science. However, it is important to keep in mind that dreams are subjective experiences and should not be taken as a guarantee of future events.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                        What if I have recurring nightmares?
                    </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Recurring nightmares can be a sign of psychological distress, and it's important to seek help from a mental health professional. Onirix can provide insights into the meaning behind your nightmares, but it is not a substitute for professional medical advice.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                        How can I get started with the International Institute of Dreams and Onirix?
                    </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Getting started with Onirix is easy! Simply visit our website and sign up for an account. You can then input your dream data and receive personalized insights and predictions from our AI.</div>
                    </div>
                </div>
            </div>
        </section>

    </main>
