<main class="home">
        <section class="hero-left">
            <div class="container hero-left-content">
                <div class="content-left">
                    <h1 class="">Discover the power of your subconscious mind with Onirix!</h1>
                    <p>Inspiring the Creative Soul: Muse Coffee Shop and Beyond.</p>
                    <div class="d-grid gap-2 d-md-block">
                        <a href="#" class="btn main-cta-w">Get Started</a>
                        <a href="#" class="btn secondary-cta ms-3">About</a>
                    </div>
                </div>
                <img src="https://images.unsplash.com/photo-1600093463592-8e36ae95ef56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80"
                    alt="Beautiful photo of a coffee shop with a lot of plants">
            </div>
        </section>
        
        <section class="services">
            <div class="services">
                <h2>What is Onirix</h2>
                <div class="container card-container">
                    <article class="card-m">
                        <img src="https://images.unsplash.com/photo-1574914629385-46448b767aec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                            alt="Coffee cup with latte art">
                        <h3>Chilled Muse</h3>
                    </article>

                    <article class="card-m">
                        <img src="https://images.unsplash.com/photo-1583165278997-0250ea5d72e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                            alt="An espresso cup">
                        <h3>Musepresso</h3>
                    </article>

                    <article class="card-m">
                        <img src="https://images.unsplash.com/photo-1517701604599-bb29b565090c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                            alt="A cup of iced coffee">
                        <h3>Midnight Muse</h3>
                    </article>

                    <article class="card-m">
                        <img src="https://images.unsplash.com/photo-1594631661960-34762327295a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=772&q=80"
                            alt="Pouring an affogato coffee">
                        <h3>Muse's Delight</h3>
                    </article>
                </div>
            </div>
        </section>

        <article class="container quote">
            <blockquote>
                <p>It doesn’t matter where you’re from or how you feel—there’s always peace in a strong cup of coffee.
                </p>
                <p>- <strong>Gabriel Bá</strong></p>
            </blockquote>
        </article>

        <section class="container cta-container">
            <div class="cta-text-content">
                <h3>This is a call to action baby</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, maiores!</p>
            </div>
            <button href="#">Get in touch</button>
        </section>

    </main>