<main class="home">
        <section class="hero-left">
            <div class="container hero-left-content">
                <div class="content-left">
                    <h1 class="">Discover the power of your subconscious mind with Onirix!</h1>
                    <p>Inspiring the Creative Soul: Muse Coffee Shop and Beyond.</p>
                    <div class="d-grid gap-2 d-md-block">
                        <a href="#" class="btn main-cta-w">Get Started</a>
                        <a href="#" class="btn secondary-cta ms-3">About</a>
                    </div>
                </div>
                <img src="https://images.unsplash.com/photo-1600093463592-8e36ae95ef56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80"
                    alt="Beautiful photo of a coffee shop with a lot of plants">
            </div>
        </section>
        
        <section class="services">
            <div class="services">
                <h2>How it works ?</h2>
                <div class="container steps-card-container">
                    <article class="steps-card">
                        <h3>Submit your dream</h3>
                        <p>Answer quick questions for Onirix to know you better and understand your dream.</p>
                    </article>

                    <article class="steps-card">
                        <h3>Receive analysis</h3>
                        <p>Onirix provides a detailed analysis of the dream, including hidden meanings and symbolism.</p>
                    </article>

                    <article class="steps-card">
                        <h3>Take control of your future</h3>
                        <p>Armed with the knowledge gained from Onirix's analysis, you can take proactive steps to shape your future.</p>
                    </article>
                </div>
            </div>
        </section>

        <article class="container quote">
            
        </article>

        <section class="container cta-container">
            <div class="cta-text-content">
                <h3>This is a call to action baby</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, maiores!</p>
            </div>
            <button href="#">Get in touch</button>
        </section>

    </main>