<main class="home">
        <section class="hero-left">
            <div class="hero-left-content">
                <div class="content-left">
                    <h1 class="">Discover the power of your subconscious mind with Onirix!</h1>
                    <p>Inspiring the Creative Soul: Muse Coffee Shop and Beyond.</p>
                    <div class="d-grid gap-2 d-md-block">
                        <a href="#" class="btn main-cta-w">Get Started</a>
                        <a href="#" class="btn secondary-cta ms-3">About</a>
                    </div>
                </div>
                <img src="https://images.unsplash.com/photo-1600093463592-8e36ae95ef56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80"
                    alt="Beautiful photo of a coffee shop with a lot of plants">
            </div>
        </section>

        <section class="about-oni">
            <div class="about-oni-content">
                <h2 class="secondary-header-style-wh3">What is Onirix ?</h2>
                <div class="about-oni-content-inside">
                    <article class="about-oni-text">
                        <h3>Onirix : the AI Dream Oracle</h3>
                        <p>Onirix, is an advanced AI technology that can analyze and decode your dreams to predict your future.</p>
                        <br>
                        <p>Using cutting-edge machine learning techniques, Onirix can decipher the complex language of dreams, helping users gain a deeper understanding of their own thoughts, emotions, and experiences. Whether you're seeking guidance on your career path, your love life, or your health, Onirix has the potential to revolutionize the way you understand and interpret your dreams.</p>
                        <br>
                        <a href="#" class="btn main-cta-color-onW">Try now</a>
                    </article>

                    <article class="about-oni-text-2">
                        <h3 class="secondary-header-style-wh3">The International Institute of Dreams </h3>
                        <p>We at the International Institute of Dreams are proud to be a world-renowned organization dedicated to studying and understanding the complex nature of human dreams. Using sophisticated algorithms and machine learning techniques, Onirix is able to identify patterns and correlations in dream content, helping users gain a deeper understanding of their own thoughts, emotions, and experiences.</p>
                        <br>
                        <p>As a leader in dream studies, we are committed to pushing the boundaries of science and technology, helping us unlock the secrets of our subconscious mind and achieve a better understanding of ourselves and the world around us.</p>
                        <a href="#" class="btn secondary-cta">Get in touch</a>
                    </article>

                </div>
            </div>
        </section>
        
        <section class="services">
            <div class="services">
                <h2>How it works ?</h2>
                <div class="container steps-card-container">
                    <article class="steps-card">
                        <h3>Submit your dream</h3>
                        <p>Answer quick questions for Onirix to know you better and understand your dream.</p>
                    </article>

                    <article class="steps-card">
                        <h3>Receive analysis</h3>
                        <p>Onirix provides a detailed analysis of the dream, including hidden meanings and symbolism.</p>
                    </article>

                    <article class="steps-card">
                        <h3>Take control of your future</h3>
                        <p>Armed with the knowledge gained from Onirix's analysis, you can take proactive steps to shape your future.</p>
                    </article>
                </div>
            </div>
        </section>

        <article class="container quote">
            
        </article>

        <section class="container cta-container">
            <div class="cta-text-content">
                <h3>This is a call to action baby</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, maiores!</p>
            </div>
            <button href="#">Get in touch</button>
        </section>

    </main>