<div>
  <div style="margin-bottom: 60px;">
    <h1>
      Terms and conditions
    </h1>
      <p>
        These Terms of Service govern your use of The International Institute of Dreams's website, and all related products and services. By using our website, you agree to these terms in full. If you disagree with these terms or any part of these terms, you must not use our website.
      </p>
  </div>
    <div style="margin-bottom: 30px;">
    <h2>
      Use of our website
    </h2>
      <p>
        You must be at least 18 years of age to use our website. You may use our website only for lawful purposes and in accordance with these Terms of Service. You must not use our website in any way that causes or may cause damage to the website or impairment of the availability or accessibility of the website, or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.
      </p>
  </div>
  <div style="margin-bottom: 30px;">
    <h2>
      Intellectual property
    </h2>
      <p>
        The website and its original content, features, and functionality are owned by The International Intitute of Dreams and are protected by international copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights laws.
      </p>
  </div>
  <div style="margin-bottom: 30px;">
    <h2>
      User accounts
    </h2>
      <p>
        If you create an account on our website, you are responsible for maintaining the security of your account and for all activities that occur under your account. You must notify us immediately if you suspect any unauthorized access or use of your account.
      </p>
  </div>
  <div style="margin-bottom: 30px;">
    <h2>
      Limitation of liability
    </h2>
      <p>
        In no event shall The International Institute be liable for any direct, indirect, incidental, consequential, special or exemplary damages arising out of or in connection with your use or inability to use our website or services.
      </p>
  </div>
  <div style="margin-bottom: 30px;">
    <h2>
      Indemnification
    </h2>
      <p>
        You agree to indemnify and hold The International Institute, its affiliates, officers, agents, and employees, harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of your use of our website or services.
      </p>
  </div>
  <div style="margin-bottom: 30px;">
    <h2>
    Changes to these terms
    </h2>
      <p>
        The International Institute of Dreams reserves the right to modify or replace these Terms of Service at any time without prior notice. Your continued use of our website after any changes indicate your acceptance of the modified terms.
      </p>
  </div>
  <div style="margin-bottom: 30px;">
    <h2>
    Contact Us
    </h2>
    <p>
      If you have any questions or concerns about these Terms of Service, please contact us <%= link_to "HERE", "/contact", class: "text-white" %>
    </p>
  </div>
</div>
