.container.personal-section {
  .step {
    display: none;

    &.active {
      display: block;
    }

    .btn-block {
      position: relative;

      .btn-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &.block {
          z-index: 1;
        }
      }
    }
  }
}
